
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  	.fixed-width{
		width: 80%;
		font-size:1.2em;
	}
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  	.fixed-width{
		width: 80%;
		font-size:1.5em;
	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  	.fixed-width{
		width: 80%;
		font-size:1.5em;
	}

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  	.fixed-width{
		width: 80%;
		font-size:1.1em;
	}

  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
  
	.fixed-width{
		width: 98%;
		font-size:1.5em;
	}
	.navbar-collapse{
		position: absolute;
		right:0px;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
	.fixed-width{
		padding-right: 2%;
		padding-left: 2%;
		font-size:1em;
	}
  
}

.fixed-width{
	margin: 0 auto;
	color: white;
}

html {
  scroll-behavior: smooth;
}

header{
	height:95vh;
	background-image: url("http://lorempixel.com/1920/1080/people");
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
}

.hurufHijau{
	color:#20B2AA;
}
.navbar-brand{
	color:white;
	font-weight: bold;
}
.buttonMenu{
	background-color: #20B2AA;
	font-weight: bold;
	border: none;
	padding: 10%;
}
.teksTebal{
	font-weight: bold;
}
.kotakAtas{
	width:80%;
}

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}

.aktip{
	color: #20B2AA;
	font-weight: bold;

}

ul,a{
	color: white;
}

ul,a:hover{
	color: #20B2AA;
}

.dropdown-menu > li > a{
	color: #20B2AA;
}

.biodata{
	margin-top: 10%;
	padding-bottom: 15%;
	margin-bottom:15%;
}

.btnp{
	background-color:transparent !important;
	border:solid;
	border-color:white;
	margin-bottom: 10%;
}

.aboutState{
	padding-top: 3%;
	font-size: 3rem;
}

.navbar{
	position: -webkit-sticky;
  	position: sticky;
  	top:0;
}

.hitam{
	color: black;
}

.image-container{
	overflow: hidden;
	max-height: 10%;
}

.marginb{
	margin-bottom:5%;
}
.flyr{
	align-content: left;
	position: absolute;
	color: red;
}
#Services{
	background-color: #20B2AA;
}

.kotak{
	background-color: #DCDCDC;
}

.paddingk{
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;

}

.totop{
	position: fixed;
  	bottom: 0;
}

.wrapper{
	text-align: right;
	width: 97%;
	padding: 1.5%;
}